body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-size: 21px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 14px;
}

p{
  font-size: 12px;
}

/* NAVBAR */

nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(190 24 93);
  height: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  padding-top: 12px;
  color: #ffffff;
}

.title{
  color:white;
}

nav ul li i{
  margin: 10px;
}

nav ul li a{
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

nav ul li a:hover{
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  color: rgb(127 29 29);
}

.custom-dd{
  display: none;
}

.custom-dd-show{
  display: flex;
  background-color: #a0b4df;
  width: 17%;
  position: absolute;
  margin-top: 20px;
  margin-left: -20px;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.custom-dd li{
  margin-right: 30px;
}

/* INDEX */

.main-home{
  margin: 150px auto;
}

.text-center{
  text-align: center;
}

.main-home h3{
  color: rgb(127 29 29);
}

.main-home hr{
  width: 35%;
  margin: 0 auto;
}

.main-home table{
  margin-top: 30px;
  margin-left: 460px;
}

.main-home table td{
  width: 250px;
  height: 40px;
  color: #f5f5f5;
}

.main-home .background{
  background-color: rgb(190 24 93);
  color: rgb(190 24 93);
  width: 50%;
  height: 460px;
  margin-top: -360px;
  margin-left: 320px;
  box-shadow: 8px 10px 8px #abbffd;
}
/* border: 1px solid black; */
.canvas-chart {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  width: 100% !important;
  height: auto !important;
}

.ranking{
  display: grid;
  gap: 10px;
  grid-template-columns: 75% 25%;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .ranking {
      grid-template-columns: 1fr; /* Menjadi satu kolom pada layar kecil */
  }
}
.ranking .canvas-chart{
  display: flex;
  flex-direction: column;
}
/* .ranking table{
  width: 75%;
} */